// Color Scheme
// First Color Scheme
$white: #FFF;
$isabelline: #ECECEC;
$light-gray: #D1D1D1;
// Second Color Scheme
$smoky-black: #0C0910;
$granite-gray: #646266;
$quick-silver: #A6A5A8;
// Third Color Scheme
$eggplant: #5e4955;
$antique-fuchsia: #996888;
$tuscany: #c99da3;
//Font Family
$cabin: 'Cabin', sans-serif;
$newsreader: 'Newsreader', serif;
$julius: 'Julius Sans One', sans-serif;
// Font Weight
$regular: 400;
$bold: 700;
// Font Sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;